In [1]:
import pandas as pd
import numpy as np

In [2]:
census_df = pd.read_csv("1222_aggregated_census_employment_data - 1222_aggregated_census_employment_data.csv")
census_df.head()

,CTUID,Population_2021,AgeSex_Both_Total,AgeSex_Male_Total,AgeSex_Female_Total,Income_Both_Total,Income_Male_Total,Income_Female_Total,Lang_Both_Total,Lang_Male_Total,...,J2W_Female_Mode_Walk,J2W_Female_Mode_Bike,J2W_Female_Mode_Other,Manufacturing and Warehousing,Retail,Service,Office,Institutional,Community and Entertainment,Grand Total
0,5350000.0,6202225,6202225.0,3024670.0,3177560.0,5179130.0,2505020.0,2674115.0,6161570.0,3007600.0,...,48905.0,6135.0,28770.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5350001.0,599,600.0,330.0,265.0,495.0,275.0,220.0,600.0,335.0,...,10.0,0.0,0.0,982.0,661.0,1954.0,3665.0,0.0,1044.0,8306.0
2,5350002.0,604,605.0,280.0,325.0,540.0,250.0,290.0,605.0,280.0,...,0.0,25.0,0.0,37.0,0.0,174.0,1074.0,153.0,554.0,1992.0
3,5350003.0,457,455.0,230.0,230.0,410.0,200.0,205.0,455.0,225.0,...,0.0,0.0,0.0,0.0,0.0,40.0,1.0,0.0,463.0,504.0
4,5350004.0,6306,6305.0,3220.0,3085.0,5375.0,2690.0,2680.0,6055.0,3090.0,...,150.0,70.0,45.0,0.0,128.0,67.0,97.0,128.0,120.0,540.0

In [3]:
jobs = ["Manufacturing and Warehousing", "Retail", "Service", "Office", "Institutional", "Community and Entertainment", "Grand Total"]
census_df.drop(jobs, axis=1, inplace=True)
census_df = census_df.drop(columns=[col for col in census_df.columns if col.lower().endswith('total')])
census_df.drop(0, axis=0, inplace=True)
census_df = census_df[census_df["CTUID"].between(5350001, 5350379)]
census_df['CTUID'] = census_df['CTUID'].apply(lambda x: f"{float(x):.2f}")
census_df

,CTUID,Population_2021,J2W_Both_Destination,J2W_Male_Destination,J2W_Male_Mode,J2W_Both_Mode,AgeSex_Both_0to14,AgeSex_Both_15to64,AgeSex_Both_65plus,Income_Female_NoIncome,...,J2W_Male_Mode_Transit,J2W_Male_Mode_Walk,J2W_Male_Mode_Bike,J2W_Male_Mode_Other,J2W_Female_Mode,J2W_Female_Mode_CarVan,J2W_Female_Mode_Transit,J2W_Female_Mode_Walk,J2W_Female_Mode_Bike,J2W_Female_Mode_Other
1,5350001.00,599,155.0,90.0,115.0,180.0,105.0,435.0,60.0,10.0,...,15.0,25.0,0.0,0.0,70.0,40.0,15.0,10.0,0.0,0.0
2,5350002.00,604,95.0,45.0,60.0,115.0,50.0,305.0,255.0,5.0,...,10.0,10.0,20.0,0.0,55.0,15.0,15.0,0.0,25.0,0.0
3,5350003.00,457,170.0,75.0,100.0,195.0,50.0,355.0,50.0,5.0,...,20.0,0.0,10.0,0.0,95.0,65.0,25.0,0.0,0.0,0.0
4,5350004.00,6306,1650.0,820.0,1075.0,2015.0,605.0,4855.0,845.0,95.0,...,390.0,100.0,90.0,35.0,940.0,140.0,530.0,150.0,70.0,45.0
5,5350005.00,6957,1565.0,780.0,1015.0,1895.0,615.0,5475.0,865.0,115.0,...,330.0,170.0,85.0,45.0,880.0,285.0,395.0,140.0,35.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579,5350378.24,5820,1355.0,715.0,815.0,1525.0,595.0,3380.0,1845.0,105.0,...,125.0,10.0,0.0,15.0,710.0,515.0,170.0,15.0,0.0,10.0
580,5350378.25,7612,2185.0,1120.0,1390.0,2585.0,1335.0,5290.0,985.0,185.0,...,95.0,10.0,0.0,10.0,1195.0,940.0,195.0,20.0,0.0,25.0
581,5350378.26,4867,1425.0,735.0,905.0,1675.0,745.0,3450.0,670.0,110.0,...,100.0,0.0,0.0,10.0,765.0,605.0,120.0,10.0,0.0,30.0
582,5350378.27,5547,1725.0,845.0,1115.0,2070.0,940.0,3950.0,655.0,135.0,...,135.0,0.0,0.0,25.0,955.0,660.0,260.0,15.0,0.0,15.0
583,5350378.28,6946,1825.0,940.0,1190.0,2195.0,1055.0,4560.0,1330.0,145.0,...,185.0,10.0,0.0,30.0,1005.0,730.0,235.0,25.0,0.0,25.0

In [4]:
metric_df = pd.read_csv("total_Metric_Table_Ontario_Line_Update.csv")
metric_df = metric_df[metric_df["Metric_Name"] == "Job Access"]
metric_df['CTUID'] = metric_df['CTUID'].apply(lambda x: f"{float(x):.2f}")
metric_df

,CTUID,Neighbourhoods,Metric_Type,Metric_Name,Travel_Time_Threshold,Category,Before_After_Benefit,Value
15741,5350003.00,South Parkdale,Economic,Job Access,30.0,Manufacturing and Warehousing,before,61.0
15742,5350004.00,South Parkdale,Economic,Job Access,30.0,Manufacturing and Warehousing,before,1625.0
15743,5350005.00,South Parkdale,Economic,Job Access,30.0,Manufacturing and Warehousing,before,2468.0
15744,5350006.00,South Parkdale,Economic,Job Access,30.0,Manufacturing and Warehousing,before,2139.0
15745,5350007.01,South Parkdale,Economic,Job Access,30.0,Manufacturing and Warehousing,before,2139.0
...,...,...,...,...,...,...,...,...
27979,5350378.27,Morningside Heights,Economic,Job Access,30.0,Grand Total,benefit,0.0
27980,5350002.00,St Lawrence-East Bayfront-The Islands,Economic,Job Access,30.0,Grand Total,benefit,0.0
27981,5350247.01,West Humber-Clairville,Economic,Job Access,30.0,Grand Total,benefit,0.0
27982,5350236.02,Eringate-Centennial-West Deane,Economic,Job Access,30.0,Grand Total,benefit,0.0
27983,5350186.00,Leaside-Bennington,Economic,Job Access,30.0,Grand Total,benefit,0.0

In [5]:
metric_col = metric_df.columns.to_list()
metric_col

['CTUID',
 'Neighbourhoods',
 'Metric_Type',
 'Metric_Name',
 'Travel_Time_Threshold',
 'Category',
 'Before_After_Benefit',
 'Value']

In [6]:
merged_df = pd.merge(metric_df, census_df, how ="left", on ="CTUID")
merged_df = merged_df.fillna(0)
merged_df

,CTUID,Neighbourhoods,Metric_Type,Metric_Name,Travel_Time_Threshold,Category,Before_After_Benefit,Value,Population_2021,J2W_Both_Destination,...,J2W_Male_Mode_Transit,J2W_Male_Mode_Walk,J2W_Male_Mode_Bike,J2W_Male_Mode_Other,J2W_Female_Mode,J2W_Female_Mode_CarVan,J2W_Female_Mode_Transit,J2W_Female_Mode_Walk,J2W_Female_Mode_Bike,J2W_Female_Mode_Other
0,5350003.00,South Parkdale,Economic,Job Access,30.0,Manufacturing and Warehousing,before,61.0,457,170.0,...,20.0,0.0,10.0,0.0,95.0,65.0,25.0,0.0,0.0,0.0
1,5350004.00,South Parkdale,Economic,Job Access,30.0,Manufacturing and Warehousing,before,1625.0,6306,1650.0,...,390.0,100.0,90.0,35.0,940.0,140.0,530.0,150.0,70.0,45.0
2,5350005.00,South Parkdale,Economic,Job Access,30.0,Manufacturing and Warehousing,before,2468.0,6957,1565.0,...,330.0,170.0,85.0,45.0,880.0,285.0,395.0,140.0,35.0,25.0
3,5350006.00,South Parkdale,Economic,Job Access,30.0,Manufacturing and Warehousing,before,2139.0,119,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5350007.01,South Parkdale,Economic,Job Access,30.0,Manufacturing and Warehousing,before,2139.0,3402,905.0,...,205.0,60.0,90.0,20.0,475.0,105.0,265.0,50.0,25.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12238,5350378.27,Morningside Heights,Economic,Job Access,30.0,Grand Total,benefit,0.0,5547,1725.0,...,135.0,0.0,0.0,25.0,955.0,660.0,260.0,15.0,0.0,15.0
12239,5350002.00,St Lawrence-East Bayfront-The Islands,Economic,Job Access,30.0,Grand Total,benefit,0.0,604,95.0,...,10.0,10.0,20.0,0.0,55.0,15.0,15.0,0.0,25.0,0.0
12240,5350247.01,West Humber-Clairville,Economic,Job Access,30.0,Grand Total,benefit,0.0,9027,2780.0,...,250.0,20.0,10.0,20.0,1555.0,1005.0,500.0,10.0,0.0,40.0
12241,5350236.02,Eringate-Centennial-West Deane,Economic,Job Access,30.0,Grand Total,benefit,0.0,5902,1505.0,...,90.0,15.0,15.0,20.0,880.0,625.0,145.0,55.0,0.0,55.0
12242,5350186.00,Leaside-Bennington,Economic,Job Access,30.0,Grand Total,benefit,0.0,2382,465.0,...,15.0,10.0,0.0,20.0,255.0,185.0,40.0,20.0,0.0,10.0

In [7]:
census_col = census_df.columns.to_list()[1:]
merged_df=merged_df.melt(id_vars=metric_col, value_vars=census_col, var_name="Attribute", value_name="Census_Value")

In [8]:
merged_df["Attribute(groups)"] = merged_df['Attribute'].apply(lambda x: x.split("_")[0])
merged_df["Attribute(gender)"] = merged_df["Attribute"].apply(lambda x: x.split("_")[1])
merged_df

,CTUID,Neighbourhoods,Metric_Type,Metric_Name,Travel_Time_Threshold,Category,Before_After_Benefit,Value,Attribute,Census_Value,Attribute(groups),Attribute(gender)
0,5350003.00,South Parkdale,Economic,Job Access,30.0,Manufacturing and Warehousing,before,61.0,Population_2021,457.0,Population,2021
1,5350004.00,South Parkdale,Economic,Job Access,30.0,Manufacturing and Warehousing,before,1625.0,Population_2021,6306.0,Population,2021
2,5350005.00,South Parkdale,Economic,Job Access,30.0,Manufacturing and Warehousing,before,2468.0,Population_2021,6957.0,Population,2021
3,5350006.00,South Parkdale,Economic,Job Access,30.0,Manufacturing and Warehousing,before,2139.0,Population_2021,119.0,Population,2021
4,5350007.01,South Parkdale,Economic,Job Access,30.0,Manufacturing and Warehousing,before,2139.0,Population_2021,3402.0,Population,2021
...,...,...,...,...,...,...,...,...,...,...,...,...
1726258,5350378.27,Morningside Heights,Economic,Job Access,30.0,Grand Total,benefit,0.0,J2W_Female_Mode_Other,15.0,J2W,Female
1726259,5350002.00,St Lawrence-East Bayfront-The Islands,Economic,Job Access,30.0,Grand Total,benefit,0.0,J2W_Female_Mode_Other,0.0,J2W,Female
1726260,5350247.01,West Humber-Clairville,Economic,Job Access,30.0,Grand Total,benefit,0.0,J2W_Female_Mode_Other,40.0,J2W,Female
1726261,5350236.02,Eringate-Centennial-West Deane,Economic,Job Access,30.0,Grand Total,benefit,0.0,J2W_Female_Mode_Other,55.0,J2W,Female
1726262,5350186.00,Leaside-Bennington,Economic,Job Access,30.0,Grand Total,benefit,0.0,J2W_Female_Mode_Other,10.0,J2W,Female

In [9]:
merged_df_2 = merged_df.copy()

In [10]:
merged_df_2['Attribute_Sum'] = merged_df_2.groupby(["CTUID", "Attribute(groups)", "Attribute(gender)",
                                                    "Metric_Type", "Metric_Name", "Travel_Time_Threshold", "Category",
                                                    "Before_After_Benefit"])['Census_Value'].transform('sum')

In [11]:
merged_df_2["Pop_Prop"] = merged_df_2["Census_Value"]/merged_df_2["Attribute_Sum"]

In [88]:
#merged_df_2["Metric_Value"] = merged_df_2["Value"]*merged_df_2["Pop_Prop"]

In [89]:
#mask = merged_df_2['Attribute(gender)'].isin(['Male', 'Female'])
#merged_df_2.loc[mask, 'Metric_Value'] = merged_df_2.loc[mask, 'Metric_Value'] / 2

In [80]:
#cols_to_drop = ["Value", "Census_Value", "Attribute_Sum", "Pop_Prop"]
#merged_df_2.drop(columns=cols_to_drop, inplace=True)

In [90]:
merged_df_2.to_csv("job_access_per_person_v1.csv")

In [18]:
# merged_df_2 = merged_df_2[merged_df_2["Travel_Time_Threshold"]==30]
# merged_df_2.to_csv("job_access_per_person_v1_threshold30.csv")

In [9]:
df = merged_df_2

NameError: name 'merged_df_2' is not defined

In [10]:
# Read the CSV
population_data = df[
    (df['Neighbourhoods'] == 'South Riverdale') & 
    (df['Attribute'] == 'Population_2021')
][['CTUID', 'Census_Value']].drop_duplicates()

south_riverdale_benefits = df[
    (df['Neighbourhoods'] == 'South Riverdale') &
    (df['Before_After_Benefit'] == 'benefit') &
    (df['Category'] == 'Grand Total')
]

# Filter for South Riverdale and benefit
south_riverdale_benefits = south_riverdale_benefits.merge(
    population_data, 
    on='CTUID', 
    suffixes=('', '_pop')
)

south_riverdale_benefits = south_riverdale_benefits[south_riverdale_benefits['Pop_Prop'] != 0]
south_riverdale_benefits["Census_Value_pop"] = south_riverdale_benefits[["Census_Value_pop", "Attribute_Sum"]].values.max(1)
south_riverdale_benefits['Metric_Per_Capita'] = south_riverdale_benefits['Value'] / ((south_riverdale_benefits["Pop_Prop"] * south_riverdale_benefits["Census_Value_pop"]))

sorted_data = south_riverdale_benefits.sort_values(by=["Metric_Per_Capita", 'CTUID'], ascending=False)

#sorted_data = sorted_data.drop(["Census_Value_pop", "Proportion_Value"])
#Display the filtered dataframe
print(sorted_data)

#Optional: Save to a new CSV if needed
sorted_data.to_csv('south_riverdale_benefits_census.csv', index=False)

           CTUID   Neighbourhoods Metric_Type Metric_Name  \
440   5350018.00  South Riverdale    Economic  Job Access
659   5350028.01  South Riverdale    Economic  Job Access
667   5350028.01  South Riverdale    Economic  Job Access
683   5350028.01  South Riverdale    Economic  Job Access
923   5350028.01  South Riverdale    Economic  Job Access
...          ...              ...         ...         ...
1063  5350001.00  South Riverdale    Economic  Job Access
1087  5350001.00  South Riverdale    Economic  Job Access
1095  5350001.00  South Riverdale    Economic  Job Access
1103  5350001.00  South Riverdale    Economic  Job Access
1111  5350001.00  South Riverdale    Economic  Job Access

      Travel_Time_Threshold     Category Before_After_Benefit     Value  \
440                    30.0  Grand Total              benefit  338138.0
659                    30.0  Grand Total              benefit  465704.0
667                    30.0  Grand Total              benefit  465704.0
683                    30.0  Grand Total              benefit  465704.0
923                    30.0  Grand Total              benefit  465704.0
...                     ...          ...                  ...       ...
1063                   30.0  Grand Total              benefit       0.0
1087                   30.0  Grand Total              benefit       0.0
1095                   30.0  Grand Total              benefit       0.0
1103                   30.0  Grand Total              benefit       0.0
1111                   30.0  Grand Total              benefit       0.0

                     Attribute  Census_Value Attribute(groups)  \
440           Lang_Both_FrOnly           5.0              Lang
659        IndigVM_Male_Korean          10.0           IndigVM
667      IndigVM_Male_Japanese          10.0           IndigVM
683   IndigVM_Male_VM_Multiple          10.0           IndigVM
923   Labour_Female_InLF_Unemp          10.0            Labour
...                        ...           ...               ...
1063        J2W_Male_Mode_Walk          25.0               J2W
1087           J2W_Female_Mode          70.0               J2W
1095    J2W_Female_Mode_CarVan          40.0               J2W
1103   J2W_Female_Mode_Transit          15.0               J2W
1111      J2W_Female_Mode_Walk          10.0               J2W

     Attribute(gender)  Attribute_Sum  Pop_Prop  Metric_Value  \
440               Both         3625.0  0.001379    466.397241
659               Male         1235.0  0.008097   1885.441296
667               Male         1235.0  0.008097   1885.441296
683               Male         1235.0  0.008097   1885.441296
923             Female         1085.0  0.009217   2146.101382
...                ...            ...       ...           ...
1063              Male          315.0  0.079365      0.000000
1087            Female          135.0  0.518519      0.000000
1095            Female          135.0  0.296296      0.000000
1103            Female          135.0  0.111111      0.000000
1111            Female          135.0  0.074074      0.000000

      Census_Value_pop  Metric_Per_Capita
440             3633.0       67478.681530
659             1290.0       44584.840310
667             1290.0       44584.840310
683             1290.0       44584.840310
923             1290.0       39169.677519
...                ...                ...
1063             599.0           0.000000
1087             599.0           0.000000
1095             599.0           0.000000
1103             599.0           0.000000
1111             599.0           0.000000

[1029 rows x 17 columns]

In [8]:
df = pd.read_csv('job_access_per_person_v1.csv', index_col=0)

#add more neighborhoods
df = df[
    df['Neighbourhoods'].isin(['South Riverdale', "North Riverdale", "Blake-Jones", "Danforth", "Rosedale-Moore Park", "Leaside-Bennington", "Thorncliffe Park"]) &
    #(df['Before_After_Benefit'] == 'benefit') &
    (df['Category'] != 'Grand Total')
]

In [3]:
# grouped_df = df.groupby(["Neighbourhoods", 'Metric_Type', 'Metric_Name', 'Travel_Time_Threshold', 'Category', 'Before_After_Benefit', 'Attribute']).agg({
#     "Census_Value": "sum",
#     "Attribute_Sum": "sum",
#     'Metric_Value': 'sum',
# }).reset_index()
grouped_df = df
#grouped_df = grouped_df.round(2)
#grouped_df["Metric_Per_Capita"] = grouped_df["Metric_Value"] / grouped_df["Census_Value"]
grouped_df = grouped_df.sort_values(by=["CTUID", 'Before_After_Benefit', 'Metric_Value'], ascending=False)

In [4]:
grouped_df = grouped_df.drop(columns=["Census_Value", "Attribute_Sum"]) #"Pop_Prop", "Attribute(groups)" ,"Attribute(gender)"
#grouped_df = grouped_df.rename(columns={'Before_After_Benefit': 'Before_After_Difference'})

In [5]:
grouped_df['Before_After_Benefit'] = np.where(grouped_df['Before_After_Benefit'] == 'benefit', 'difference', grouped_df['Before_After_Benefit'])

In [26]:
grouped_df.to_csv('metric_value_census.csv', index=False)