In [1]:
import datetime
import geopandas as gpd
import pandas as pd
import datetime
import time 
import r5py
import os
from TravelTimeCalculation import TravelTimeCalculation #

In [2]:

# Ensure the file paths are correct
# tried ../ doesn't work
OSM_path = "/Users/max/Desktop/Transit_Dashboard/data/OSM_data/Toronto.osm.pbf" #"../../data/OSM_data/Toronto.osm.pbf"
GTFS_path = "/Users/max/Desktop/Transit_Dashboard/data/GTFS_data/raw/latest_feed_version_2024-10-22.zip"  #"../../data/GTFS_data/raw/latest_feed_version_2024-10-22.zip"

travel_calculator = TravelTimeCalculation(OSM_path, GTFS_path)  # Use the correct class
travel_calculator.build_transport_network()

Transport network built in 56.97 seconds.

In [4]:
travel_calculator.compute_travel_time_matrix(
    origins_path = "../../../data/census_tract_data/toronto_ct_centroids1.geojson", 
    destinations_path = "../../../data/key_destination_data/Hospitals_4326.geojson", 
    output_path = "../results/TTM_CT_hospitals_only.csv", 
    origin_id_col='CTUID', destination_id_col='Address_ID',
    origin_is_point=True, destination_is_point=True,  # If it is not a point, the centroid of the polygon will be used
)

Travel time matrix computed in 155.59 seconds.
Travel time matrix saved to ../results/TTM_CT_hospitals_only.csv.

          from_id     to_id  travel_time
0      5350128.04     54248         76.0
1      5350128.04    487172         48.0
2      5350128.04    504810         44.0
3      5350128.04    515959         52.0
4      5350128.04    536800         45.0
...           ...       ...          ...
22149  5350017.02  12601206         65.0
22150  5350017.02  13498043         33.0
22151  5350017.02  13501524         71.0
22152  5350017.02  20232082         44.0
22153  5350017.02  30063647         70.0

[22154 rows x 3 columns]

In [ ]:

# Census tract vs Census tract for job access
travel_calculator.compute_travel_time_matrix(
    origins_path = "../../../data/census_tract_data/toronto_ct_centroids1.geojson", 
    destinations_path = "../../../data/census_tract_data/toronto_ct_centroids1.geojson", 
    output_path = "../results/TTM_CT_CT.csv", 
    origin_id_col='CTUID', destination_id_col='CTUID',
    origin_is_point=True, destination_is_point=True,  # If it is not a point, the centroid of the polygon will be used
)


# Note # ../../../data/census_tract_data/toronto_ct_boundaries.geojson
# change boundaries --> centroids doesn't work
# Same census tract results (from census 1, to census 1, 0 ) is handled by the filter_destination function

In [5]:
# This function should be added to the metric calculation class during the travel time matrix processing stage

# Get the hospitals within 10, 20, 30 minutes of travel time

thresholds = [10, 20, 30]
travel_calculator.filter_destinations(
        travel_time_matrix_path= "../results/TTM_CT_hospitals.csv",
        output_path= "../results/TTM_CT_hospitals.csv",
        top_n=5
    )

Generated ../results/TTM_CT_hospitals_Top_5.csv

         from_id    to_id  travel_time
0     5350001.00   773891         73.0
1     5350001.00  6388009         73.0
2     5350001.00  7792695         75.0
3     5350001.00  7762671         76.0
4     5350001.00  7754575         76.0
...          ...      ...          ...
2910  5350378.28  6362828         40.0
2911  5350378.28  4616608         54.0
2912  5350378.28  9638452         58.0
2913  5350378.28  4628244         83.0
2914  5350378.28   536800         85.0

[2915 rows x 3 columns]

In [7]:
travel_calculator = TravelTimeCalculation() 

thresholds = [10, 20, 30]
travel_calculator.filter_destinations(
        travel_time_matrix_path= "../results/TTM_CT_hospitals.csv",
        output_path= "../results/TTM_CT_hospitals.csv",
        threshold = [10, 20, 30, 45]
    )

Generated ../results/TTM_CT_hospitals_threshold_10.csv
Generated ../results/TTM_CT_hospitals_threshold_20.csv
Generated ../results/TTM_CT_hospitals_threshold_30.csv
Generated ../results/TTM_CT_hospitals_threshold_45.csv

         from_id     to_id  travel_time
10    5350003.00  10757635         17.0
11    5350003.00   8168605         30.0
12    5350003.00  20232082         31.0
15    5350004.00   8168605         16.0
16    5350004.00  10757635         17.0
...          ...       ...          ...
2886  5350378.23   9638452         43.0
2887  5350378.23   6362828         45.0
2890  5350378.24   4616608         40.0
2900  5350378.26   6362828         42.0
2910  5350378.28   6362828         40.0

[1968 rows x 3 columns]